<html lang="en">

    <style>
        .jumbotron {
            background-image: url("https://ooo.0o0.ooo/2017/01/29/588d45750e902.png");
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            height: 600px;
            padding: 180px 25px;
            font-family: "Open Sans", Helvetica, Verdana, Arial, "Hiragino Sans GB", "Microsoft YaHei", sans-serif !important;
            color: #474747;

        }
          .jumbotron h1{
            color: #000;
          }
        .container-fluid2{
          padding-bottom: 100px;
        }

    </style>

    <body>
        <div class="jumbotron text-center">

            <h1>Job Hunter</h1>
            <p>让优秀的你遇到更好的机会</p>

                    <div >

                        <p class="lead"><a class="btn btn-default btn1" href="/jobs">马上应征</a></p>
                    </div>

        </div>
    </body>

    <div class="container-fluid2 text-center">
        <h2>我们的承诺</h2>
        <h4>可以做到的</h4>
        <br>
        <div class="row">
            <div class="col-sm-4">
                <span><img src="https://ooo.0o0.ooo/2017/01/29/588de81f7ada7.png" width="75px" height="60px" /></span>
                <h4>专业的团队</h4>
                <p>整个过程向您提供最专业的咨询和帮助</p>
            </div>

            <div class="col-sm-4">
                <span><img src="https://ooo.0o0.ooo/2017/01/29/588de794161e2.png" width="75px" height="60px" /></span>
                <h4>高效的反馈</h4>
                <p>公司回馈信息第一时间通知到您</p>
            </div>

            <div class="col-sm-4">
              <span><img src="https://ooo.0o0.ooo/2017/01/29/588de85a741fe.png" width="75px" height="60px" /></span>
                <h4>优质的企业</h4>
                <p>帮您提高筛选的质量和效率</p>
            </div>

        </div>
        <br><br>
        <div class="row">
            <div class="col-sm-4">
                <span ><img src="https://ooo.0o0.ooo/2017/01/29/588dcf7208ccc.png" width="75px" height="60px" /></span>
                <h4>隐私以及安全</h4>
                <p>尊重您的隐私除非你的同意</p>
            </div>

            <div class="col-sm-4">
                <span ><img src="https://ooo.0o0.ooo/2017/01/29/588dceba9d254.png" width="75px" height="60px" /></span>
                <h4>最新的职场需求</h4>
                <p>时刻更新保证信息的新鲜度</p>
            </div>

            <div class="col-sm-4">
                <span><img src="https://ooo.0o0.ooo/2017/01/29/588dcda96fb6f.png" width="75px" height="60px" /></span>
                <h4>真诚的服务</h4>
                <p>录用成功的你会收到一份精美的贺礼</p>
            </div>

        </div>
        <button class="btn btn-default btn-lg " >>更多服务</button>
    </div>
    <style>
        .container-fluid3 {
            padding-left: 100px;
            padding-top: 70px;
            background-color: #f6f6f6;
            font-family: "Open Sans", Helvetica, Verdana, Arial, "Hiragino Sans GB", "Microsoft YaHei", sans-serif !important;
        }
        .container-fluid3 p{
            padding-right: 20px;


            font-family: "Open Sans", Helvetica, Verdana, Arial, "Hiragino Sans GB", "Microsoft YaHei", sans-serif !important;
        }

          .container-fluid4 {

            padding: 85px;
            margin: 0;
            font-family: "Open Sans", Helvetica, Verdana, Arial, "Hiragino Sans GB", "Microsoft YaHei", sans-serif !important;
        }
        .container-fluid4 p{

          padding-left: 70px;
          margin: 0;
          font-family: "Open Sans", Helvetica, Verdana, Arial, "Hiragino Sans GB", "Microsoft YaHei", sans-serif !important;
      }
      .container-fluid4 h3{

        padding-left: 70px;
        padding-top: 30px;
        margin: 0;
        font-family: "Open Sans", Helvetica, Verdana, Arial, "Hiragino Sans GB", "Microsoft YaHei", sans-serif !important;
    }

        .image1{
          padding-bottom: 50px;

        }
        .title1{
          text-align: center;

          font-size: 25px;
          margin-top: -20px;
          margin-right: 100px;
        }

    </style>
    <style>

        @media screen and (max-width: 768px) {
          .col-sm-4 {
            text-align: center;
            margin: 25px 0;
          }
        }


    </style>

    <div class="container-fluid3">
      <p class="title1">职场洞察</p>
      <div class="row">
        <div class="col-sm-6">
        <h3><strong>当创业公司给你开高薪时，他们在想什么?</strong></h3>

        <br/>

        <h4>这是个人人向往财务自由的时代，</h4>
        <p>
            这是个人人向往财务自由的时代，<br />也是个物质至上的时代，
            <br/>于是盲目追求高薪，成了很多求职者的通病。
            <br/>当一家创业公司开出天价年薪
            <br/>邀请你加入或 挽留你离开时，
            <br/>你该何去何从？</p>

    </div>
    <div class="col-sm-4 image1">
      <span><img src="https://media.licdn.com/mpr/mpr/shrinknp_800_800/AAEAAQAAAAAAAAjFAAAAJGQ2NmE1NmU3LTJlMjQtNGZlZi1hNWVmLTc2MmQxMDMxNzEzYQ.jpg" width="100% height="100" "/></span>
    </div>
  </div>
</div>

    <div class="container-fluid4">
      <div class="row">
        <div class="col-sm-4 image2">
          <span><img src="https://images.unsplash.com/photo-1429051883746-afd9d56fbdaf" width="100%"/></span>
        </div>
        <div class="col-sm-6">
        <h3><strong>从技术 Leader 的招聘需求看，如何转岗为当前紧缺的大数据相关人才？</strong></h3>
        <br/><br/>
        <p>

            前段时间，跟候选人聊天的时候，一个有多年工作经验的资深 iOS 工程师告诉我，
            <br/>他最近正在学习 Machine Learning 相关的知识。他觉得，对于程序员来说，
            <br/>技术进步大大超过世人的想象，
            <br/>如果你不跟随时代进步，就会落后于时代。
          </p>
        </div>

      </div>
        <button class="btn btn-default btn-lg " >>更多内容</button>
    </div>

    <div class="container-fluid6">
    <div class="row">
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-globe logo1"></span>

            <p>北京·上海·广州</p>
        </div>

        <div class="col-sm-4">
            <span class="glyphicon glyphicon-envelope logo2"></span>

            <p>Job Hunter@123.com</p>
        </div>

        <div class="col-sm-4">
            <span class="glyphicon glyphicon-phone-alt logo3"></span>

            <p> 010-123456</p>
        </div>

    </div>

  </div>
        </html>
        <style>
        .btn-lg{
          margin-left: 1000px;
          background-color: #fff;
          color: #000;
          border-radius: 0;
          transition: 0.2s;
          margin-top: 40px;
        }
            .btn1 {
                padding: 8px 40px;
                background-color: #86c3bb;
                color: #f1f1f1;
                border-radius: 0;
                transition: 0.2s;

            }
            .btn1:focus,
            .btn1:hover {
                border: 1px solid #333;
                background-color: #fff;
                color: #000;
            }

            .container-fluid6{
              background-color: #f6f6f6;
              padding-left: 300px;
              padding-top: 70px;
              padding-bottom: 40px;
              color: #707070;
            }
              .container-fluid6 p{
                margin-left: -53px;
                margin-top: 10px;
              }
              .container-fluid6 span {
                margin-left: -50px;
                margin-top: 10px;
                font-size: 80px;
              }
              .btn {
                  padding: 8px 40px;
                  background-color: #86c3bb;
                  color: #f1f1f1;
                  border-radius: 0;
                  transition: 0.2s;

              }
              .btn:focus,
              .btn:hover {
                  border: 1px solid #333;
                  background-color: #fff;
                  color: #000;
              }



        </style>
    </html>
