// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container-fluid1
{
  margin: 0px;
}
.logo1 {
  color: #86c3bb;
  font-size: 50px;
}
.logo2 {
  color: #ef6358;
  font-size: 50px;
  padding-left: 22px;
}
.logo3 {
  color: #fcb54d;
  font-size: 50px;

}
.container-fluid2{
  margin-top: 80px;
}
